.playerControls {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;

  transition: all .2s ease-in-out;

  &.shown {
    opacity: 1;
  }

  .playPause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .next,
  .prev {
    position: absolute;
    top: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="52" height="24.067" viewBox="0 0 52 24.067"><path d="M46.933,2,26,17.933,5.067,2,0,6.067l26,20,26-20Z" transform="translate(0 -2)" fill="white" opacity="0.2"/></svg>');
    cursor: pointer;
    height: 24px;
    width: 52px;
    border: none;
    font-weight: normal;
    margin: 0;
    outline: none;
    padding: 0;
  }

  .next {
    right: 0;
    transform: rotate(-90deg) translateX(25%);
  }

  .prev {
    left: 0;
    transform: rotate(90deg) translateX(-25%);
  }
}