.progress {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  margin: 10px;
  cursor: pointer;

  .fill,
  .background {
    height: 3px;
  }

  .fill {
    position: absolute;
    background-color: #fff;
    z-index: 5;
  }

  .background {
    width: 100%;
    background-color: #000;
    opacity: 0.6;
  }
}